<a href="#" onclick="FB.Connect.requireSession(); return false;" >
  <img id="fb_login_image" src="http://static.ak.fbcdn.net/images/fbconnect/login-buttons/connect_light_medium_long.gif" alt="Connect"/>
</a>
