<p id="publish_fb_checkbox" style="<%= facebook_user ? '' : 'display:none' %>">
          <%= image_tag('http://static.ak.fbcdn.net/images/icons/favicon.gif') %>
          <%= check_box_tag(:publish_to_facebook, 0, true) %>
          Publish this run to Facebook     
</p>
